*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  html {
    // defines what 1 rem is
    font-size: 100%;
  }
  body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background: rgb(255, 255, 255);   
  }